<nav class="nav has-shadow">
    <div class="container is-fluid">
        <div class="nav-left nav-brand">
            <a href="{{ "/" | prepend: site.baseurl }}" class="nav-item sitetitle">
            The&nbsp;<span class="red">Information</span>&nbsp;Diet
            </a>
        </div>
        <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
        <div class="nav-right nav-menu">
            <div class="nav-item">
            <a href="/archive">
                <span>Blog</span>
            </a>
            </div>
            <div class="nav-item">
            <a href="/media">                         
                <span>Media</span>
            </a>
            </div>
            <div class="nav-item">
                <a href="/speaking"><span>Speaking</span></a>
            </div>
                        <div class="nav-item">
                <a href="/contact"><span>Contact</span></a>
            </div>
            <div class="nav-item">
                <a href="/about"><span>About Clay</span></a>
            </div>
        </div>
    </div>
</nav>