<div class="bookbox"><h3 class="title is-4">Get the book</h3>
<a href="http://amzn.to/2uOgjqo"><img src="/assets/images/book-thumb.png"></a>
</div>
<p><a href="http://amzn.to/2uOgjqo" class="button is-info is-large">Buy the Book</a></p>
<br/>
<p><a href="https://player.vimeo.com/video/63368251" class="button is-danger is-large">See the Talk</a></p>

<div class="testimonials box">
<h3 class="title is-4">What They're Saying</h3>
<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <img src="/assets/images/gina.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Gina Trapani</strong> <small>@ginatrapani</small> <small>31m</small>
        <br>
        I've decided to be much more selective about what information I feed my head.
      </p>
    </div>
  </div>
</article>
<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <img src="/assets/images/jenn.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Jennifer Pahlka</strong> <small>@pahlkadot</small> <small>31m</small>
        <br>
        "I'm cutting out low-quality information and I feel happier and more productive!"
      </p>
    </div>
  </div>
</article>
<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <img src="/assets/images/baratunde.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Baratunde Thurston</strong> <small>@baratunde</small> <small>31m</small>
        <br>
        "80 percent of Americans suffer from information obesity. That's not true, but it could be!"
      </p>
    </div>
  </div>
</article>
<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <img src="/assets/images/ev.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Ev Williams</strong> <small>@johnsmith</small> <small>31m</small>
        <br>
        "Unconscious consumption squanders our precious attention."
      </p>
    </div>
  </div>
</article>
<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <img src="/assets/images/joi.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Joi Ito</strong> <small>@johnsmith</small>
        <br>
        "Hoping to have a tasty and balanced information diet for 2012."
      </p>
    </div>
  </div>
</article>
</div>
