//
//
//

$body-bg: #000;
$primary: rgb(206,42,56);
$blue: #2B9EB3;
$blue-dark: #4062BB;
$black: hsl(0, 0%, 4%) !default;
$family-sans-serif: 'Zilla Slab', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$red: rgb(206,42,56);
$serif: 'Zilla Slab';
$sans-serif: 'Sarala';
$info: $blue;
$grey-light: #eeeeee;