<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />

    <link rel="stylesheet" href="{{ "/assets/css/application.css" | prepend: site.baseurl }}" />
</head>
<body>
{% include nav.html %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="title">
                {{ page.title }}
            </h1>
            <h2 class="subtitle">
                {{ page.subtitle }}
            </h2>
        </div>
    </div>
</section>
<div class="container" style="padding-top: 10px;">

<div class="columns">
    <div class="column is-8">
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/lNFNOSzik14' frameborder='0' allowfullscreen></iframe></div>
<section class="section"><h3 class="title is-3">Latest Updates</h3></section>
   {% for post in site.posts offset: 0 limit: 5  %}
   <div class="card post-card">
            {% if post.thumbnail %}
            <div class="card-image">
                <figure class="image">
                    <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                        <img src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ post.title }}">
                    </a>
                </figure>
            </div>
            {% endif %}
            <div class="card-content">
                <h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
                <p class="post-categories">
                    {% for category in post.categories %}
                    <a href="/{{ category | prepend: site.baseurl }}" class="tag {% if site.data.category[category].color %} is-{{ site.data.category[category].color }} {% endif %}">{{ category }}</a>
                    {% endfor %}
                </p>
                {{ post.excerpt }}
            </div>
    </div>
    <br/>
    {% endfor %}
    <a class="button is-info" href="/archive">More Posts</a>
    <br/>
</div>

    <div class="column is-4 has-text-centered is-light" >
    
        {% include sidebar-home.html %}
        
    </div>
    </div>
</div>
{% include footer.html %}